<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>aeffect (AU).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>aeffect (All).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>aeffect (Shared Code).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>aeffect (VST).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>41F5437303C905864783AFC6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42AE3A4E2E93AC953613B284</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DB0B5F14AFAF0F533F1D01D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E93C41BAB196507E54010B2D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
